@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Variable.ttf");
}


body {
  background-color: #F8F8FD;
}

.icon {
  @apply border cursor-pointer text-main h-10 w-10 p-[6px]; 
}